<p id="notice"><%= notice %></p>

<h2> <%= @beer %> </h2>

<p>
  <strong>Style:</strong>
  <%= @coffee.style %>
</p>

<% if @coffee.ratings.empty? %>
  <p>coffee has not yet been rated!</p>
<% else %>
  Has <%= pluralize(@coffee.ratings.count, 'rating') %>, average score <%= @coffee.average_rating %></p>
<% end %>

<% if current_user %>
  <h4>give a rating:</h4>

  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :coffee_id %>
    score: <%= f.number_field :score %>
    <%= f.submit %>
  <% end %>

  <%= link_to 'Edit', edit_coffee_path(@coffee) %> |
  <%= link_to 'Destroy', @coffee, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
