<p id="notice"><%= notice %></p>

<h1>Roasteries</h1>

<h2>Active</h2>

<p> Number of active roasteries: <%= @active_roasteries.count %> </p>

<%= render 'list', roasteries: @active_roasteries %>

<h2>Retired</h2>

<p> Number of retired roasteries: <%= @retired_roasteries.count %> </p>

<%= render 'list', roasteries: @retired_roasteries %>

<br>

<%= link_to 'New Roastery', new_roastery_path %>
<%= link_to 'list of coffees', coffees_path %>
