<p id="notice"><%= notice %></p>

<h1>  <%= @user.username %> </h1>

<p> has made <%= @user.ratings.count %> ratings </p>
<% if @user.ratings.count != 0 %>
  <p> average <%= @user.average_rating %> </p>
<% end %>

<h2> ratings </h2>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<strong> Member of </strong>
<p>
 <% @user.coffee_clubs.each do |coffee_club| %>
   <%= link_to coffee_club.name, coffee_club %>
 <% end %>
</p>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
  <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
