<p id="notice"><%= notice %></p>

<h1>  <%= @user.username %> </h1>

<p> has made <%= @user.ratings.count %> ratings </p>
<% if @user.ratings.count != 0 %>
  <p> average <%= @user.average_rating %> </p>
<% end %>

<% if @user.ratings.any? %>
  <p> Favorite coffee: <%= @user.favorite_coffee.name %> </p>
  <p> Favorite roastery: <%= @user.favorite_roastery.name %> </p>
  <p> Favorite style: <%= @user.favorite_style %> </p>

  <h2> ratings </h2>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>

<% end %>

<% if @user.coffee_clubs.any? %>

  <p>member of
  <% @user.coffee_clubs.each do |club| %>
    <%= link_to club.name, club%>
  <% end %>
  </p>
<% else %>
  <p>no coffeeclub memberships</p>
<% end %>


<% if @user == current_user %>
  <%= link_to 'Change password', edit_user_path(@user) %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
