<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coffee_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @coffee_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @coffee_club.city %>
</p>

<% if @coffee_club.members.any? %>
  <ul>
    <% @coffee_club.members.each do |member| %>
      <li>
        <%= link_to member.username, member %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>no members</p>
<% end %>

<%= link_to 'Edit', edit_coffee_club_path(@coffee_club) %> |
<%= link_to 'Back', coffee_clubs_path %>
