<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coffee_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @coffee_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @coffee_club.city %>
</p>

<% if @coffee_club.members.any? %>
  <ul>
    <% @coffee_club.members.each do |member| %>
      <li>
        <%= link_to member.username, member %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>no members</p>
<% end %>

<% if current_user %>
  <% if current_user.is_member_of? @coffee_club %>
    <%= form_for(@membership, method: "delete") do |f| %>
      <%= f.hidden_field :coffee_club_id %>
      <%= f.submit value: "end the membership" %>
    <% end %>
  <% else %>
    <%= form_for(@membership) do |f| %>
      <%= f.hidden_field :coffee_club_id %>
      <%= f.submit value:"join the club" %>
    <% end %>
  <% end %>

  <%= link_to 'Edit', edit_coffee_club_path(@coffee_club) %>
  <%= link_to 'Destroy', @coffee_club, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
