<!DOCTYPE html>
<html>
<head>
  <title>Ratecoffee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navibar">
    <%= link_to 'roasteries', roasteries_path %>
    <%= link_to 'coffees', coffees_path %>
    <%= link_to 'ratings', ratings_path %>
  </div>

  <%= yield %>

</body>
</html>
